<div class="bg-white p-6 rounded-lg shadow-md w-full max-w-2xl mx-auto">
    <div class="flex justify-between items-center mb-4">
        <h2 class="text-lg font-bold">Lista de Tareas</h2>
        <button class="bg-blue-500 text-white px-3 py-2 rounded-lg shadow hover:bg-blue-600 flex items-center" (click)="toggleTaskForm()">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-5">
                <path *ngIf="!showForm" stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
                <path *ngIf="showForm" stroke-linecap="round" stroke-linejoin="round" d="M5 12h14" />
            </svg>
            <span class="pl-2">Nueva Tarea</span>
        </button>
    </div>

    <div *ngIf="showForm" class="mb-4" @fadeInOut>
        <app-task-form (taskCreated)="addTask($event)"></app-task-form>
    </div>

    <div class="relative inline-block text-left mb-4">
        <button 
            (click)="mostrarDropdown = !mostrarDropdown"
            class="inline-flex w-full justify-center rounded-lg bg-gray-200 px-4 py-2 text-sm font-medium text-gray-700 shadow-sm hover:bg-gray-300">
            Filtrar: {{ filter | titlecase }}
            <svg class="ml-2 w-5 h-5" viewBox="0 0 20 20" fill="currentColor">
                <path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 011.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd" />
            </svg>
        </button>

        <div *ngIf="mostrarDropdown"
            class="left-0 mt-2 w-48 rounded-md shadow-lg bg-white ring-1 ring-black ring-opacity-5 z-50">
            <div class="py-1 flex flex-col">
                <button (click)="changeFilter('todas')" class="p-2 hover:bg-gray-100">Todas</button>
                <button (click)="changeFilter('pendiente')" class="p-2 hover:bg-gray-100">Pendientes</button>
                <button (click)="changeFilter('completado')" class="p-2 hover:bg-gray-100">Completadas</button>
            </div>
        </div>
    </div>

    <!-- Lista de tareas -->
    <div class="space-y-3">
        <div *ngFor="let task of tasks" class="p-4 bg-gray-100 rounded-lg shadow flex justify-between items-center task-item">
            <div>
                <h3 class="font-semibold text-lg">{{ task.title }}</h3>
                <p class="text-sm text-gray-600">{{ task.description }}</p>
                <span class="text-xs px-3 py-1 rounded-full" 
                    [ngClass]="{
                        'bg-green-500 text-white': task.status === 'completado',
                        'bg-yellow-500 text-white': task.status === 'pendiente'
                    }">
                    {{ task.status }}
                </span>
            </div>
            <div class="flex gap-2">
                <button *ngIf="task.status === 'pendiente'" (click)="toggleTaskStatus(task)"  class="px-3 py-2 rounded-lg bg-green-600 text-white hover:bg-green-700 flex items-center">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-5">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M9 12.75 11.25 15 15 9.75M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                    </svg>
                    <span class="pl-2">Completar</span>  
                </button>
                <button *ngIf="task.status === 'completado'" (click)="toggleTaskStatus(task)" class="px-3 py-2 rounded-lg bg-cyan-600 text-white hover:bg-cyan-700 flex items-center">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M7.5 21 3 16.5m0 0L7.5 12M3 16.5h13.5m0-13.5L21 7.5m0 0L16.5 12M21 7.5H7.5" />
                    </svg>
                    <span class="pl-2">Revertir</span>  
                </button>
                <button (click)="deleteTask(task.id)"  class="px-3 py-2 rounded-lg bg-red-500 text-white hover:bg-red-600 flex items-center">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-5">
                        <path stroke-linecap="round" stroke-linejoin="round" d="m14.74 9-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 0 1-2.244 2.077H8.084a2.25 2.25 0 0 1-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 0 0-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 0 1 3.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 0 0-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 0 0-7.5 0" />
                    </svg>
                  <span class="pl-2">Eliminar</span> 
                </button>
            </div>
        </div>
    </div>
</div>
